@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: x-small;
}
h1 {
  font-size: 40px;
  font-weight: 900;
  color:rgb(14, 116, 138);
}
h2 {
  font-size: 30px;
  font-weight: 700;
}
h3 {
  font-size: 20px;
  font-weight: 500;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.metsearch-body {
  width: 75%;
  margin: 5% auto;
  padding: 3%;
  background-color:rgb(234, 239, 255);
  font-family: 'Lato', sans-serif;
  border-color:rgb(111, 186, 203);
  border-width: 5px;
  border-style:solid;
}
.artwork {
  margin: 5% 5%;
  padding: 2% 2 0%;
  text-align: center;
  border-style:ridge;
  border-color: rgb(213, 170, 116);
  border-width: 30px;
  background-color:rgb(254, 248, 234);
}
.message {
  text-align:center;
  background-color:rgb(111, 186, 203);
  color: white;
  width: 50%;
  margin: auto;
  padding: 1%;
  font-weight: 900;
}
.artwork img {
  width: 50%;
  display: block;
  margin: 5% auto;
}
.title {
  width: 60%;
  margin: auto;
  text-align: center;
}
.artwork-form {
  width: 99%;
  margin: auto;
  text-align: center;
}
.artwork-form .box {
  height: 40%;
}
.form-option {
  float: left;
  width: 45%;
  background-color:rgb(242, 245, 255);
  border-style:inset;
  border-width: 5px;
  border-color:rgb(61, 205, 205);
}
.middle-word {
  margin: 2%;
}
.form-option input,select {
  height: 35px;
  border-radius: 10px;
  border-style:solid;
  padding: 2%;
  border-width: 2px;
  border-color:rgb(180, 210, 233);
}
.form-option input[type=text] {
  width: 65%;
}
.form-option input[type=submit] {
  width: 20%;
  height: 35px;
  margin-left: 1%;
}
.form-option select {
  width: 65%;
}
